/* Fix inconsistent theme of sidebar  */

#navigator-toolbox,
#navigator-toolbox-background,
#nav-bar,
#sidebar-box,
#sidebar-header,
#zen-sidebar-web-panel {
  background-color: var(--base) !important;
  background: var(--base) !important;
}

#urlbar-container {
  background-color: var(--base) !important;
}
