// https://yalter.github.io/niri/Configuration:-Miscellaneous

// Overall blur settings
blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 6.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.5  // color saturation boost (default: 1.5)
}

// Noctalia v.5+
layer-rule {
  // match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|osd)$"

  opacity 0.89
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  // match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  match namespace="^noctalia-(bar-[^\"]+|attached-panel)$"

  opacity 0.89
  background-effect {
    blur false
    xray false
  }
}

// Append ./window-rule.kdl with blur
window-rule {
  match app-id="^anki$"
  match app-id="^kitty$"
  match app-id="zathura$"
  match app-id="^org\\.gnome\\.Nautilus$"
  match app-id="^xdg-desktop-portal-gtk$"

  background-effect {
    blur true
    xray false
  }
}

window-rule {
  match app-id="^floating.*"
  match is-floating=true

  background-effect {
    blur true
    xray false
  }
}
