// https://yalter.github.io/niri/Configuration:-Animations

animations {
    on
    slowdown 1.5

    // Individual animations
    workspace-switch {
    }

    window-open {
    }

    window-close {
    }


    horizontal-view-movement  {
    }

    window-movement {
    }

    window-resize {
    }

    config-notification-open-close {
    }

    exit-confirmation-open-close {
    }

    screenshot-ui-open {
    }

    overview-open-close {
    }

    recent-windows-close {
    }
}
