// https://yalter.github.io/niri/Configuration:-Layout

layout {
    gaps 10
    background-color "transparent"

    // Options: never, always, on-overflow
    center-focused-column "never"
    always-center-single-column
    // empty-workspace-above-first
    default-column-display "normal"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.6667
    }

    // preset-window-heights {}

    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 3.5

        // active-color "#7fc8ff"
        // inactive-color "#505050"
        // urgent-color "#9b0000"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
    }

    border {
        on
        width 3.2

        // urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on

        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    tab-indicator {
        on

        hide-when-single-tab
        place-within-column
        gap 5
        width 3
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 5
        corner-radius 1000
        // active-color "red"
        // inactive-color "gray"
        // urgent-color "blue"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45

    }

    insert-hint {
        on
        color "#ffc87f80"
        gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }

    struts {
        // left 0
        // right 0
        // top -35 
        // bottom 0
    }
}
