// https://yalter.github.io/niri/Configuration:-Outputs

output "eDP-1" {
    mode "1920x1080@60.001"
    scale 1

    hot-corners {
      // off
      // top-left
      // top-right
      // bottom-left
      bottom-right
    }
}
