// https://yalter.github.io/niri/Configuration:-Animations

animations {
    on
    slowdown 1.25

    // Individual animations
    workspace-switch {
        spring damping-ratio=0.89 stiffness=523 epsilon=0.0001
    }

    window-open {
        curve "ease-out-expo"
        // curve "linear"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
        // curve "linear"
    }

    horizontal-view-movement  {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }

    window-resize {
        custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
                vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
                return color;
            }
        "
    }

    config-notification-open-close {
        spring damping-ratio=0.95 stiffness=923 epsilon=0.02
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}
