// https://yalter.github.io/niri/Configuration:-Key-Bindings

binds {
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // niri
    // Applications
    Mod+Return hotkey-overlay-title="Open Terminal" { spawn "kitty"; }
    Mod+Shift+Return hotkey-overlay-title="Open floating Terminal" { spawn-sh "kitty --class=floating.kitty"; }
    Mod+B hotkey-overlay-title="Open Zen Browser" { spawn "zen-browser"; }
    Mod+Z hotkey-overlay-title="Open Anki" { spawn "anki"; }
    Mod+Shift+E hotkey-overlay-title="Open files" { spawn "nautilus"; }
    Mod+E hotkey-overlay-title="Open yazi" { spawn-sh "kitty -e yazi"; }
    Control+Shift+Escape hotkey-overlay-title="Open btop++" { spawn-sh "kitty -e --class=floating.btop btop"; }

    // Navigations
    Mod+MouseBack    repeat=false { focus-workspace-down; }
    Mod+MouseForward repeat=false { focus-workspace-up; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Alt+H { focus-column-first; }
    Mod+Alt+L  { focus-column-last; }
    Mod+Alt+Shift+H { move-column-to-first; }
    Mod+Alt+Shift+L  { move-column-to-last; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+U         { move-column-to-workspace-down; }
    Mod+Shift+I         { move-column-to-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Alt+WheelScrollDown      { focus-column-right; }
    Mod+Alt+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Alt+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Alt+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+D repeat=false { switch-preset-column-width; }
    Mod+R repeat=false { switch-preset-column-width-back; }
    Mod+Shift+D { switch-preset-window-height; }
    Mod+Ctrl+D { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+A       { toggle-window-floating; }
    Mod+Shift+A { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+Shift+Delete hotkey-overlay-title="Exit niri session" { quit; }

    Mod+Shift+S hotkey-overlay-title="Snipping Tool" { screenshot show-pointer=false; }

    Mod+X hotkey-overlay-title="Toggle transparency" { toggle-window-rule-opacity; }

    Mod+Shift+Insert hotkey-overlay-title="Toggle inhibit shortcuts" { toggle-keyboard-shortcuts-inhibit; }

    // Noctalia shell
    Mod+Slash hotkey-overlay-title="Keybind Cheatsheet" { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
    Alt+Space hotkey-overlay-title="Application Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+M hotkey-overlay-title="Control Center" { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+Shift+M hotkey-overlay-title="Settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+V hotkey-overlay-title="Clipboard History" { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
    Mod+Shift+C hotkey-overlay-title="Calender" { spawn-sh "qs -c noctalia-shell ipc call calendar toggle"; }
    Mod+Delete hotkey-overlay-title="Session Menu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Alt+Down hotkey-overlay-title="System Monitor" { spawn-sh "qs -c noctalia-shell ipc call systemMonitor toggle"; }
    Mod+P allow-when-locked=true hotkey-overlay-title="Play/Pause media" { spawn-sh "qs -c noctalia-shell ipc call media toggle"; }
    Mod+Shift+P allow-when-locked=true hotkey-overlay-title="Play/Pause media" { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    Mod+Shift+N allow-when-locked=true hotkey-overlay-title="Next media" { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    Mod+Shift+B allow-when-locked=true hotkey-overlay-title="Previous media" { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    Mod+Shift+Alt+W hotkey-overlay-title="Set Wallpaper" { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }
    Mod+N hotkey-overlay-title="Note Panel" { spawn-sh "qs -c noctalia-shell ipc call plugin:todo togglePanel"; }
    Mod+T hotkey-overlay-title="Notifications Panel" { spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory"; }
    Mod+Shift+T hotkey-overlay-title="Clear oldest notifications" { spawn-sh "qs -c noctalia-shell ipc call notifications removeOldestHistory"; }
    Mod+Alt+Up hotkey-overlay-title="Toggle Bar Visibilty" { spawn-sh "qs -c noctalia-shell ipc call bar toggle"; }
    Mod+Alt+T hotkey-overlay-title="Toggle DND" { spawn-sh "qs -c noctalia-shell ipc call notifications toggleDND"; }
    Mod+Insert hotkey-overlay-title="Cycle power profiles" { spawn-sh "qs -c noctalia-shell ipc call powerProfile cycle"; }
    Mod+Alt+Space hotkey-overlay-title="Window Switcher access" { spawn-sh "qs -c noctalia-shell ipc call launcher windows"; }
    XF86AudioRaiseVolume  allow-when-locked=true hotkey-overlay-title="Increase volume" { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume  allow-when-locked=true hotkey-overlay-title="Decrease volume" { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute         allow-when-locked=true hotkey-overlay-title="Mute volume" { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute      allow-when-locked=true hotkey-overlay-title="Mute microphone" { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86MonBrightnessUp   allow-when-locked=true hotkey-overlay-title="Increase brightness" { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease brightness" { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }
}
