// Overall blur settings
blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 6.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.5  // color saturation boost (default: 1.5)
}

// NOTE: Experimental with niri-unstable
// Noctalia: Blur without xray for performance and better look
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"

  opacity 0.89
  background-effect {
    blur true
    xray false
  }
}

// Append ./window-rule.kdl with blur
window-rule {
  match app-id="^anki$"
  match app-id="^kitty$"
  match app-id="zathura$"

  background-effect {
    blur true
    xray false
  }
}

window-rule {
  match is-floating=true

  background-effect {
    blur true
    xray false
  }
}
