// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"

    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=0 y=0 relative-to="bottom-right"
}

window-rule {
    match app-id="^kitty$"

    draw-border-with-background false
}

window-rule {
    match app-id="^anki$"
    opacity 0.89

    draw-border-with-background false
    clip-to-geometry true
}

window-rule {
    match app-id="^floating.*"

    open-floating true
    draw-border-with-background false
    default-window-height { proportion 0.90; }
    default-column-width { proportion 0.75; }
}

// Neovim modes
window-rule {
    match title="^nvim-N"
    border {
        active-color   "#89b4fb"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba9"
    }
}

window-rule {
    match title="^nvim-I"
    border {
        active-color   "#a6e3a2"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba9"
    }
}

window-rule {
    match title="^nvim-V"
    border {
        active-color   "#cba6f8"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba9"
    }
}

window-rule {
    match title="^nvim-C"
    border {
        active-color   "#fab388"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba9"
    }
}

window-rule {
    match title="^nvim-R"
    border {
        active-color   "#f38ba8"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba9"
    }
}

// Noctalia shell
window-rule {
    // Rounded corners for a modern look.
    geometry-corner-radius 20

    // Clips window contents to the rounded corner boundaries.
    clip-to-geometry true
}
